PORT=5000
MONGODB_URI=mongodb+srv://epraveen952_db_user:praveen123@cluster0.jo6qxdd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_in_production
CLOUDINARY_CLOUD_NAME= dygqhxn3r
CLOUDINARY_API_KEY=348487936543484
CLOUDINARY_API_SECRET=0CrjMCUwGx8qoZCiYuuFu_mhoas
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=epraveen952@gmail.com
SMTP_PASS=qhxacrwikmxxilwt
CLIENT_URL=http://localhost:5173

